*{
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0000008f;
    background-image: url(https://source.unsplash.com/1600x900/?landscape);
    font-size: 120%; 
}
.cointainer{
    background-color: #000000;
    color: white;
    padding: 30px;
    border-radius: 30px;
    width: 100%;
    max-width: 280px;

}
.cointainer:hover{
    background-color: #000000e1;
}
.search-icon{
    width: 15px;
    height: 15px;
    vertical-align: sub;
   
    
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    height: 25px;
    width:70%;
    border-radius:50px;
    outline: none;
    padding: 0.5em;
    background-color: #252020;
    color: white;
    font-family: inherit;

}
button{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 10px;
    background-color:white;
    cursor: pointer;
   
}
button:hover{
    background-color: #302f2f;
}
.flex{
    display: flex;
    align-items: center;
}
.humidity,.speed{
    margin-bottom:0.3em;
}